<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<!-- 启动时加载SpringContextServlet -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/classes/resource/spring/applicationContext.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>isWriteErr</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>isDebug</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>printStackTrace</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>isAuthentication</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>recordTime</param-name>
		<param-value>false</param-value>
	</context-param>

	<filter>
		<filter-name>securiteFilter</filter-name>
		<filter-class>cn.com.codes.framework.security.filter.SecurityFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>webwork</filter-name>
		<filter-class>com.opensymphony.webwork.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<!-- Spring 刷新Introspector防止内存泄露 by jiangke -->
	<listener>
		<listener-class>
			org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- mappings -->
	<servlet>
		<servlet-name>validcodeimage</servlet-name>
		<servlet-class>cn.com.codes.framework.security.ValidCodeImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>mypmSmartUploadServlet</servlet-name>
		<servlet-class>cn.com.codes.framework.upload.SmartUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>downHelpServlet</servlet-name>
		<servlet-class>cn.com.codes.framework.upload.HelpDownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>mypmMenuServlet</servlet-name>
		<servlet-class>cn.com.codes.framework.security.MenuServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>validcodeimage</servlet-name>
		<url-pattern>/img/validcodeimage.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mypmSmartUploadServlet</servlet-name>
		<url-pattern>/fileUpload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>downHelpServlet</servlet-name>
		<url-pattern>/downHelp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mypmMenuServlet</servlet-name>
		<url-pattern>/navigate</url-pattern>
	</servlet-mapping>
	<!-- 文件上传 -->
	<servlet>
		<servlet-name>Uploader</servlet-name>
		<servlet-class>cn.com.codes.common.util.UploaderServlet</servlet-class>
		<init-param>
			<param-name>uploadPath</param-name>
			<param-value>/itest/uploadFile</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>welCome</servlet-name>
		<servlet-class>cn.com.codes.servlet.WelcomeServlet</servlet-class>
		<init-param>
			<param-name>webclomeUrl</param-name>
			<param-value>/itest/jsp/login.jsp</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>mainController</servlet-name>
		<servlet-class>cn.com.codes.servlet.ItestMainServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>Uploader</servlet-name>
		<url-pattern>/uploader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>welCome</servlet-name>
		<url-pattern>/login.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mainController</servlet-name>
		<url-pattern>/main.htm</url-pattern>
	</servlet-mapping>	

	<filter-mapping>
		<filter-name>securiteFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>securiteFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>securiteFilter</filter-name>
		<url-pattern>/login.htm</url-pattern>
	</filter-mapping>	
	<filter-mapping>
		<filter-name>securiteFilter</filter-name>
		<url-pattern>/main.htm</url-pattern>
	</filter-mapping>	
	<filter-mapping>
		<filter-name>securiteFilter</filter-name>
		<url-pattern>/output</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>securiteFilter</filter-name>
		<url-pattern>/fileUpload</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>securiteFilter</filter-name>
		<url-pattern>/upload</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>securiteFilter</filter-name>
		<url-pattern>/navigate</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>webwork</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>securiteFilter</filter-name>
		<url-pattern>/download/*</url-pattern>
	</filter-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>login.htm</welcome-file>
	</welcome-file-list>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/login</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/jsp/errorPageSYS.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/jsp/sysHint.jsp</location>
	</error-page>
	<jsp-config>

		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<el-ignored>false</el-ignored>
		</jsp-property-group>
	</jsp-config>
</web-app>

